<div class="footer" id="footer">
    <h1>GET IN TOUCH</h1>
    <p class="hero-text">Whether you're looking for a fresh perspective on your next project or simply want to connect, I'd love to hear from you.</p>
    <div class="footer_contact_container">
        <div class="social">
            <a href="https://www.linkedin.com/in/artemis-panou-829561223/" target="_blank"><span>LINKEDIN</span></a>
            <a href="mailto:artepanou@gmail.com"><span>EMAIL</span></a>
            <a href="https://www.behance.net/artemispanou" target="_blank"><span>BEHANCE</span></a>
            <a href="https://www.facebook.com/misko.panou" target="_blank"><span>FACEBOOK</span></a>
        </div>
        <div class="cv_btn_container">
            <a target="_blank" href="/cv.pdf?h=<%= cvHash %>">
                <img class="icon" src="/icons/download.svg" />
                <span>CV</span>
            </a>
        </div>
    </div>
</div>
<footer>
    <div>
        <span>copyright 2024 - designed with Love by Me - developed by <i><a href="https://github.com/PanosBt" target="_blank">PanosBt</a></i></span>
    </div>
</footer>

<% if ( typeof include_lightbox_js != 'undefined' && include_lightbox_js) { %>
    <script src="/ext/js/fslightbox.js"></script>
<% } %>

<% if ( typeof include_js != 'undefined' && include_js) { %>
    <script src="/js/artemispanou.js?v=<%= assets_version %>"></script>
<% } %>

</body>
</html>